streamlit
langchain
langchain-community
sentence-transformers
langchain-experimental
faiss-cpu
selenium
webdriver-manager
beautifulsoup4
pypdf
python-dotenv
groq
supabase
passlib[bcrypt]
fastapi[standard]
pydantic
python-jose[cryptography]
python-multipart